.cart {
  font-size: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  gap: 10px;

  .buyNowBox {
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .productsBox {
    height: 100%;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .productsTopRow {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;

      .productsListOption {
        display: flex;
        align-items: center;
        gap: 10px;

        .optionItemsInput {
          border: 1px solid black;
          font-size: 20px;
          width: 60px;
          height: 35px;
          padding: 5px;
        }
      }
    }

    .productsList {
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;
      padding: 10px;

      .productRow {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        padding: 10px;
        border: 1px solid green;
        border-radius: 10px;

        .productImgBox {
          height: 140px;
          width: 175px;
        }
        
        .productImg {
          height: 140px;
          width: 175px;
          border-radius: 5px;
        }

        .productTitle {
          font-size: 25px;
        }

        .descriptionColum {
          width: 100%;
          font-size: 20px;
          padding: 5px;
        }

        .numberColum {
          font-size: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 10px;
          padding: 10px;
          width: 220px;
        }

        .numberAddAwayRow {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 20px;

          .numberBtn {
            padding: 10px;
            border: 1px solid green;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
          }
        }
      }
    }
  }

  .summaryBox {
    border: 1px solid red;
    border-radius: 10px;
    height: 100%;
    padding: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .summaryTopRow {
      padding: 10px;
    }

    .appliedCodes {
      font-size: 20px;
      border: 1px solid rgb(255, 230, 0);
      background-color: rgb(255, 242, 121);
      padding: 5px;
    }

    .symmaryInputPromo {
      width: 90%;
      border: 1px solid black;
      font-size: 23px;
      padding: 10px;
    }

    .symmaryPromoBtn {
      font-size: 25px;
      padding: 10px;
      border: 1px solid green;
      background-color: rgb(134, 255, 130);
      border-radius: 10px;
    }

    .promoForTest {
      font-size: 20px;
      color: red;
    }

    .buyNowBtn {
      font-size: 25px;
      padding: 10px;
      border: 1px solid green;
      background-color: rgb(255, 130, 130);
      border-radius: 10px;
    }
  }
}
