.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid green;
  height: 100%;
  width: 100%;
  padding-top: 10px;
  gap: 10px;
}

.path {
  font-size: 20px;
}

.productBox {
  border: 1px solid red;
  height: 90%;
  width: 90%;
  padding: 5px;
}

.productTitle {
  border: 1px solid rgb(0, 110, 255);
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.productBlock {
  border: 1px solid rgb(255, 0, 0);
  display: flex;
  width: 100%;
}
