.header {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.logo {
  font-size: 25px;
  color: red;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.cartImg {
  height: 80px;
  width: 110px;
}