@use "nullstyle"; // обнуление

.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  background-color: rgb(255, 254, 211);
}

.headerBox {
  background-color: rgb(192, 255, 197);
  padding: 5px;
}

.contentBox {
  padding: 5px;
}

.footerBox {
  height: 50px;
  background-color: rgb(248, 221, 255);
  padding: 5px;
  margin-top: auto;
}

button {
  box-shadow: 2px 2px 2px black;
  &:active {
    box-shadow: 0px 0px 0px black;
    transform: translate(2px, 2px);
  }
}
